


*{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,html{
    
   
    scroll-behavior: smooth;
}

    

/* Parte do menu do site */

#cabecalho {
    position: fixed;
    background-color: #3d3d3d;
    width: 100%;
    
    
    
}
#cabecalho ul{

    display: flex;
    justify-content: flex-end;
    width: 100%;
    flex-wrap: wrap;
}



#cabecalho .itensCabecalho {
    
   
    
    
    
    
    padding: 1rem;
    
    color: rgba(255, 255, 255, 0.733);
    text-shadow: .1em .1em .2em black;
    font-size: .9rem;
    transition: all .1s ease-out;
}


#cabecalho .itensCabecalho:hover{


    color: #fff

}

/* Aqui começa de fato o conteúdo */


#introducao{
    height: 80vh;
    display: flex;
    justify-content: center;
    
}

#introducao .titulo{

    
    margin-top: 13rem;
    font-size: 80px;
    color: #A9DEB8
}

#introducao .subtitulo{

    display: flex;
    justify-content: center;

}


#introducao .imgComputadores{
    
    margin: 10rem 0rem 0rem 5rem;
    /* padding: 5rem 0rem 0rem 0rem; */
    width: 400px;
}





/* 
Aqui começa a parte sobre minha descrição */

#sobreMim{
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    
    align-items: center;

    background-color: #6c8b77;

}   

#sobreMim #descricaoLucas{

    width: 60%;
    
    
}

#sobreMim img{

    margin-right: 100px;
    width: 300px;

}





/* Parte de apresentação dos projetos feitos */
#projetos{

    padding: 3rem 2rem 10rem 2rem;

}

#projetos .titulo{
    padding: 0rem 0rem 3rem 0rem;
    text-align: center;
    font-size: 1.5rem;
    color: 
}

#projetos #espacamento{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    

}


#projetos #espacamento a img{

    width: 300px;
    
}


/* seção de habilidades com tecnologias */

#tecnologias{

    background-color: #ebebeb;
    padding: 5rem;

}


#tecnologias .linguagens{

    display: flex;
    justify-content: space-evenly;
}


#tecnologias .linguagens img{

    
    padding: 1rem;
    
    height: 130px;

}

#form{
    
    width: 100%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
#form .tituloFormulario h2{

    /* width: 100%; */
    text-align: center;
    padding: 3rem 0rem 8rem 0rem;
    font-size: 2.5rem;
    

}

#form form{
    
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    
}
#form .formulario{


    

}



#form .formulario, input,textarea{

    width: 100%;
    outline:none;
    
}
















/* Tablet */
@media screen and (max-width: 970px){

    #introducao .imgComputadores{

        width: 300px;

    }
    #introducao .titulo{

        font-size: 40px;

    }

}



/* tablet pequeuno sla kk */
@media screen and (max-width: 783px){


    
    #introducao .titulo{

        font-size: 30px;

    }
    
    #introducao .imgComputadores{

        width: 300px;

    }

}


/* celular */
@media screen and (max-width: 535px){


    #introducao .titulo{

        font-size: 

    }


    #introducao .imgComputadores{

        width: 200px;
        display: none;
        
        
    }

}