<!DOCTYPE html>
<html lang="pt-br
">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Portfólio</title>

</head>

<body>
    
    <nav id='cabecalho'>
        <ul>
            <a href="#introducao"><li class='itensCabecalho'>Inicio</li></a>
            <a href="#sobreMim"><li class='itensCabecalho'>Sobre mim</li></a>
            <a href="#projetos"><li class='itensCabecalho'>Projetos</li></a>
            <a href="#tecnologias"><li class='itensCabecalho'>Tecnologias</li></a>
            
            <a href="#contato"><li class='itensCabecalho'>Contato</li></a>
            
        </ul>
    </nav>


    <section id='introducao'>
        <div>
            <h1 class = 'titulo'>&ltLucas Victor /&gt</h1>
            <span class ='subtitulo'>Full Stack Developer</span>
        </div>   
            
        <div >    
            <img class='imgComputadores' src="../static/img/Programming-bro.png" alt="um computador com três monitores">
        </div>
    
    </section>


    
    <section id='sobreMim'>

            <div>
                
                <img class ='imgLucas' src="../static/img/testesoruz3.png" alt="">
                
            </div>

            <div id ='descricaoLucas'> 
                <p class = 'texto'>Apaixonado por tecnologia. Atualmente estou mudando de carreira, antes cursava cinema e agora me encontro estudando desenvolvimento Web. Sou uma pessoa extrovertida, comunicativa, motivada, me adapto fácil as adversidades e gosto de trabalhar em equipe.
                    A tecnologia é o futuro e eu me vejo no meio disso.</p>
            </div>
            
           
       

    </section>

    <section id='projetos'>
        
            <div class= 'titulo'>
                <h2>
                Projetos
                </h2>
            </div>
            
            <div id ='espacamento'>
                
                <img src="../static/img/arquivo_edit.png" alt="">
                <a href="/"></a>
                <img src="" alt="">
                <a href=""><img src="../static/img/coming soon.webp" alt=""></a>
                <a href=""><img src="../static/img/coming soon.webp" alt=""></a>
                <a href=""><img src="../static/img/coming soon.webp" alt=""></a>
                
                
            </div>
    </section>
                
                
                
           

        



    <section id='tecnologias'>

        <div class='linguagens'>
            <img src="../static/img/html5-logo.png" alt="">
            
            <img src="../static/img/JavaScript-logo.png" alt="">
            <img src="../static/img/css3.png" alt="">
            <img src="../static/img/github.png" alt="">
            <img src="../static/img/python.png" alt="">
            <img src="../static/img/flask.png" alt="">
            <img src="../static/img/postgre.png" alt="">
        </div>

    </section>

    <section div='entreEmContato'>

        <h2>

        </h2>
        
        <div>
            <form action="">
                <label for="nome">Nome</label>
                <input type="text" id='nome'>

                <label for="email">E-mail</label>
                <input type="text" id ='email'>

            <label for="mensagem">Mensagem</label>
            <textarea name="mensagem" id="mensagem" cols="30" rows="10"></textarea>

            </form>
        </div>



    </section>


    <footer id ='contato'>
        <div class='redesSociais'>
            
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            
            <p>&#169 2021 Lucas Victor. All rights reserved.</p>
        </div>
    </footer>

</body>

</html>
             
            
            
            